.container {
    position: relative;
    top:8px;
    text-align: center;
    color:#5bc0de;
    font-weight: bold;
    font-Style:italic;
    font-size: 25px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -80%);
}
.text-block {
    position: absolute;
     top: 50%;
    left: 50%;
    color: #311B92;
    transform: translate(-50%, -50%);
    margin-top: 15px;
}
